<div class="container">
  <div class="row">
    <div class="col-md-2">
      <!-- Left side content (20%) -->
      <!-- Left navigation links (if needed) -->
    </div>
    <div class="col-md-10">
      <!-- Right side content (80%) -->
      <div class="input-container">
        <span for="name">Name:</span>
        <div class="input-wrapper">
          <input type="text" id="name" class="form-control" placeholder="Enter your name">
        </div>
        <div class="checkbox-container">
          <input type="checkbox" id="checkbox1" class="form-check-input">
          <label for="checkbox1" class="form-check-label2"> Change Status of Results</label>
          <input type="checkbox" id="checkbox2" class="form-check-input">
          <label for="checkbox2" class="form-check-label1">Publish Validation Exception</label>
        </div>
        
        <!-- Result Filter Box (Accordion) -->
        <app-result-filter-box></app-result-filter-box>
     
        


      </div>
    </div>
  </div>
</div>
